.card {
  text-decoration: none;
  border-radius: 1rem;  
  display: block;
  text-align: center;
}

.card img {
  object-fit: cover;
  display: block;
}

/* - - - - - - - - - - Shadow - - - - - - - - - - */

.card-shadow {
  padding: 2rem;
  color: #000;
  border-bottom: .5rem solid var(--color-accent-1);
  box-shadow: 0 3px 5px #0005;
  background-color: #fff;
  transition:
    transform .2s,
    box-shadow .2s;
}

.card-shadow:hover {
  box-shadow: 0 5px 10px #0005;
  transform: scale(1.05);
}

.card-shadow img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: 0 3px 5px #0005;
  border-bottom: .5rem solid var(--color-accent-1);
}

.card-shadow h3 {
  color: var(--color-accent-1);
  font-size: 1.5rem;
}

/* - - - - - - - - - - Overlay - - - - - - - - - - */

.card-overlay {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  border-radius: 1rem;
  overflow: hidden;
}

.card-overlay img {
  width: 100%;
  height: 15rem;
}

.card-overlay .card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  opacity: 0;
  transition: opacity .2s;
}

.card-overlay .card-content h3 {
  color: var(--color-accent-3-light);
  margin: .5rem;
  transform: translateY(2rem);
  transition: transform .2s;
}

.card-overlay .card-content p {
  margin: 0;
  transform: translateY(4rem);
  transition: transform .2s;
}

.card-overlay:hover {
  color: #fff;
}

.card-overlay:hover .card-content {
  opacity: 1;
}

.card-overlay:hover .card-content h3,
.card-overlay:hover .card-content p {
  transform: none;
}

/* - - - - - - - - - - Buttons - - - - - - - - - - */

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1.5em;
  margin-right: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  display: inline-block;
}

.buttons a:hover,
.buttons a:focus {
  color: #fff;
}

.btn-swipe {
  position: relative;
  overflow: hidden;
  border-radius: 3rem;
}

.btn-swipe::before,
.btn-swipe::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 3rem;
}

.btn-swipe::before {
  background-color: var(--color-primary);
  border-radius: .5rem;
}

.btn-swipe::after {
  background-color: var(--color-accent-1);
  width: 0;
  transition: width .2s;
}

.btn-swipe:hover::after,
.btn-swipe:focus::after {
  width: 100%;
}

.btn-delete {
  background-color: var(--color-error);
  color: #fff;
  border-radius: .5rem;
  /* width: 15rem; */
  text-align: center;
}

.btn-delete .icon {
  margin-left: -2.25rem;
  opacity: 0;
  transition:
    margin .2s,
    opacity .2s;
}

.btn-delete:hover .icon,
.btn-delete:focus .icon {
  margin-left: 0;
  opacity: 1;
}

.btn-delete .icon-label {
  padding: 0 1.125rem;
  transition:
    padding .2s;
}

.btn-delete:hover .icon-label,
.btn-delete:focus .icon-label {
  padding: 0;
}

.btn-3d {
  background-color: var(--color-primary);
  border-radius: .5rem;
  top: 0;
  box-shadow: 0 .5rem 0 var(--color-primary-dark);
  position: relative;
  transition:
    box-shadow .2s,
    top .2s;
}

.btn-3d:hover,
.btn-3d:focus {
  top: .25rem;
  box-shadow: 0 .25rem 0 var(--color-primary-dark);
}